<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Log in</title>
  </head>

  <body>

    <% include partials/_header %>


         <marquee>
          <img class= 'img-responsive' src="https://i.pinimg.com/736x/76/c9/2f/76c92fa6fedf01b1086708e3ca571801.jpg" alt="GoodWebSitePills" max-width: 100%, height: auto>
         </marquee>